.DS_Store
node_modules/
twentytwenty
twentytwentyone
twentyseventeen
twentynineteen
uploads
vendor
.env
googlekey
mu-plugins/local-by-flywheel-live-link-helper.php
#themes/fictional-university-theme/node_modules/