.DS_Store
node_modules/
plugins/advanced-custom-fields
plugins/regenerate-thumbnails
twentytwenty
twentyseventeen
twentynineteen
uploads
vendor
.env
googlekey
#themes/fictional-university-theme/node_modules/